.main{
	 -fx-background-color: #f1f1f1;
}

.success-btn{
	-fx-background-color: #51a351;
}

.success-btn:hover{
	-fx-background-color: #80C380;
	
}

.error-btn{
	-fx-background-color: red;
}

.error-btn:hover{
	-fx-background-color:  #f39c12;
	
}

.middle{
	-fx-color: #ffffff;
}

.info-txt{
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
}

.pres{
	-fx-background-color:  #ADD8E6;
}

.gw{
	-fx-background-color: #80C380;
}

.disc{
	-fx-background-color: #f39c12;
}

.brk{
	-fx-background-color: #9999cc;
}